.around_wrap {
    flex: 1 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid transparent;
}

.heading {
	position: relative;
    width: 600px;
    margin-top: 20px;
    padding: 0 12px 0 25px;
    background: #fff;
    box-sizing: border-box;
    font-size: 1px;
    line-height: 1px;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.heading:before {
    overflow: hidden;
    display: inline-block;
    width: 90px;
    height: 14px;
    font-size: 0;
    color: transparent;
    background-position: -320px -397px;
    position: relative;
    background-color: #fff;
    z-index: 1;
    vertical-align: top;
    content: "";
}

.heading:before {
    background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/home.png);
    background-size: 508px 492px;
}

.heading:after {
    position: absolute;
    left: 127px;
    right: 25px;
    top: 8px;
    height: 1px;
    background: #dbdee0;
    content: "";
}

.around_content {
	width: 600px;
}

.around_place_card {
    display: block;
    position: relative;
    margin-top: 16px;
}

.heading2 {
    margin-bottom: 12px;
    padding: 0 25px;
    font-size: 19px;
    font-weight: 800;
    color: #121212;
    letter-spacing: -.72px;
}

.option_selector_wrap {
    position: absolute;
    top: -2px;
    right: 20px;
    padding: 4px 20px 4px 5px;
    border-radius: 6px;
    font-size: 14px;
    color: #242424;
}

.option_selector_wrap .point {
	color: #437bfe;
    font-weight: 700;
}

.option_selector_wrap .point:after, .option_selector_wrap span:after {
    content: " ";
}

.option_selector_wrap:after {
    overflow: hidden;
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    background-position: -452px -245px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    content: "";
}

.option_selector_wrap.-open:after, .option_selector_wrap.-open:hover:after, .option_selector_wrap:after, .option_selector_wrap:hover:after {
    background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/home.png);
    background-size: 508px 492px;
}

.option_selector_wrap.-open:hover:after {
    overflow: hidden;
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    background-position: -452px -259px;
}

.option_selector_wrap.-open:after, .option_selector_wrap.-open:hover:after, .option_selector_wrap:after, .option_selector_wrap:hover:after {
    background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/home.png);
    background-size: 508px 492px;
}

.option_selector_wrap.-open:after {
    background-position: -452px -273px;
}

.option_selector_wrap.-open:after, .option_selector_wrap:hover:after {
    overflow: hidden;
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
}

.option_selector_wrap:hover:after {
    background-position: -452px -226px;
}

.option_selector_wrap:after {
    overflow: hidden;
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    background-position: -452px -245px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    content: "";
}

.option_value_wrap {
    position: relative;
    padding: 20px 20px 17px;
    background: #f3f7f8;
    margin-bottom: 25px;
}

input[type="radio" i] {
    cursor: default;
    box-sizing: border-box;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
}

.time_option_area {
	margin-left: 30px;
}

.time_option {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    padding: 0 13px;
    margin-right: 6px;
    font-size: 14px;
    line-height: 37px;
    color: #666;
    letter-spacing: -.5px;
    border-radius: 18px;
    background: #fefffe;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.sort_option, .time_option {
    cursor: pointer;
}

input:checked + .time_option {
    background: #537bf6;
    color: #fff;
}

.time_option {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    padding: 0 13px;
    margin-right: 6px;
    font-size: 14px;
    line-height: 37px;
    color: #666;
    letter-spacing: -.5px;
    border-radius: 18px;
    background: #fefffe;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.sort_option, .time_option {
    cursor: pointer;
}

.sort_option_area {
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
}

.sort_option:hover, input:checked + .sort_option {
    color: #537bf6;
}

.sort_option {
    float: left;
    position: relative;
    padding: 3px 3px 3px 12px;
    margin-right: 17px;
    font-size: 14px;
    letter-spacing: -.5px;
}

.sort_option:hover:before, input:checked + .sort_option:before {
    background: #537bf6;
}

.sort_option:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    margin: auto;
    border-radius: 3px;
    background: #c3c5c6;
    content: "";
}

.sort_option_area:after {
    display: block;
    clear: both;
    content: "";
}

.card_wrap {
    padding-bottom: 30px;
    padding: 0 25px;
}

.card_inner {
    position: relative;
}

.image_area {
    position: relative;
    height: 250px;
    background: #f4f4f4;
}

.image_area .image_count {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    height: 20px;
    padding: 0 5px;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    font-size: 14px;
    line-height: 21px;
    color: hsla(0,0%,100%,.6);
}

.image_area .image_count em {
    color: #fff;
}

address, em {
    font-style: normal;
}

.image_area .image {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.image_area .image:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    border: 1px solid rgba(114,117,118,.1);
    border-radius: 3px;
    content: "";
}

.btn_go_entry {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image_paging {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
}

.rolling_arrow.-prev {
    left: -10px;
    display: none;
}

.rolling_arrow {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    background-position: -302px -258px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    margin: auto 0;
}

.btn_favorite, .btn_favorite.-on, .btn_favorite:hover, .image_area .no_image, .info_list .icon_star, .rolling_arrow, .rolling_arrow.-next, .rolling_arrow.-next:hover, .rolling_arrow.-prev:hover {
    background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/home.png);
    background-size: 508px 492px;
}


.rolling_arrow.-next {
    background-position: -218px -258px;
    right: -10px;
    display: none;
}

.rolling_arrow.-next, .rolling_arrow.-prev:hover {
    overflow: hidden;
    width: 40px;
    height: 40px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
}

.btn_favorite, .btn_favorite.-on, .btn_favorite:hover, .image_area .no_image, .info_list .icon_star, .rolling_arrow, .rolling_arrow.-next, .rolling_arrow.-next:hover, .rolling_arrow.-prev:hover {
    background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/home.png);
    background-size: 508px 492px;
}

.rolling_arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    margin: auto 0;
}

.text_area {
    position: relative;
    padding-top: 16px;
    cursor: pointer;
}

.text_area .header_text_area {
    padding-right: 23px;
}

.text_area .name_text {
    margin-right: 6px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #0068c3;
}

.text_area .sub_text {
    margin-right: 8px;
    font-size: 14px;
    letter-spacing: -.3px;
    color: #8f8f8f;
}

.info_list, .text_area .desc_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text_area .desc_text {
    margin-top: 8px;
    font-size: 16px;
    color: #424242;
}

.desc_text {
	height: 22px;
	text-overflow: ellipsis;
	display: -webkit-box;
       -webkit-line-clamp: 1;
       -webkit-box-orient: vertical;
  	overflow: hidden;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.info_list {
    margin-top: 4px;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.info_list .info_item {
    font-size: 15px;
    line-height: 19px;
    color: #242424;
}

.info_list .desc, .info_list .info_item, .info_list .term {
    display: inline;
}

.info_list .info_item + .info_item:before {
    display: inline-block;
    vertical-align: top;
    margin: 1px 5px 0;
    font-size: 14px;
    line-height: 18px;
    color: #e7e8e7;
    content: "/";
}

.btn_favorite, .btn_favorite:hover {
    overflow: hidden;
    display: inline-block;
    width: 17px;
    height: 21px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
}

.btn_favorite {
    background-position: -192px -132px;
    position: absolute;
    top: 265px;
    right: 0;
    z-index: 20;
    left: 525px;
}

.btn_favorite, .btn_favorite.-on, .btn_favorite:hover, .image_area .no_image, .info_list .icon_star, .rolling_arrow, .rolling_arrow.-next, .rolling_arrow.-next:hover, .rolling_arrow.-prev:hover {
    background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/home.png);
    background-size: 508px 492px;
}









