body {
	overflow: hidden;
	display: block;
}

.entry-layout {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
}

.entry-place-bridge {
	background-color: #fff;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    z-index: 10;
}

.entry_wrap.loaded {
    opacity: 1;
}

.place_on_pcmap {
    background-color: rgba(var(--place-color-bg1), 1);
    color: rgba(var(--place-color-text1), 1);
    word-break: break-all;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    height: 100%;
    width: 100%;
}

#app-root.place_didmount {
    opacity: 1;
}

html, body, #app-root {
    height: 100%;
}

#app-root {
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.BXtr_.tAvTy, .U6dnO .X0uoJ {
    box-shadow: 0 2px 4px 0 rgb(0 37 86 / 15%), 0 -1px 5px 0 rgb(0 37 86 / 10%);
    border-radius: 12px 12px 0 0;
    height: 100%;
}

.FFTct.IOXHr {
    background: rgba(var(--place-color-bg2), 0);
    border-color: rgba(0,0,0,0);
    box-shadow: none;
}

.FFTct {
	height: 50px;;
    display: flex;
    position: fixed;
    z-index: 5000;
    border-bottom: 1px solid;
}

.DDfpb {
    width: 50px;
}


.FFTct .DDfpb .wyJ1s {
    position: absolute;
    top: 50%;
    left: 18px;
    width: 12px;
    height: 21px;
    transform: translateY(-50%);
}

.back {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-top: 15px;
}

.FFTct .DDfpb+.bh9OH {
    padding-left: 0;
    opacity: 0;
}

.FFTct .bh9OH {
	width: 550px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    position: relative;
    z-index: 10;
    padding: 0 6px 0 18px;
    font-size: 2.1rem;
    font-weight: 700;
    color: rgba(var(--place-color-text2), 1);
    line-height: 50px;
}

h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.place_img {
    position: relative;
    height: 300px;
}

.uDR4i {
    display: flex;
    position: relative;
    height: 187px;
    background: rgba(var(--place-color-photogrid-bg), 1);
}

.uDR4i::before {
    top: 0;
}

.uDR4i::before, .uDR4i::after {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 1px;
    background: rgba(0,0,0,.08);
    content: "";
}

.uDR4i .CEX4u {
    overflow: hidden;
    flex: 1;
    align-items: center;
}

.fNygA {
    height: 100%;
}

.fNygA .place_thumb {
    height: 100%;
}

button, [role=button] {
    cursor: pointer;
}

.place_thumb {
    display: block;
    position: relative;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.K0PDV {
    width: 100%;
    height: 100%;
    background-image: url(https://search.pstatic.net/common/?autoRotate=true&type=w560_sharpen&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20220822_198%2F1661157302914UrbDF_PNG%2FHIMNANDA_BURGER_LOGO_%2528%25B3%25D7%25C0%25CC%25B9%25F6%2529.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.place_blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.uDR4i .hEm4D {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 93px;
}

.uDR4i .hEm4D .CEX4u {
    height: 100%;
}

.fNygA .place_thumb .xez5V {
	font-size: 18px;
	
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.8rem;
}

.zD5Nm {
    padding: 16px 18px 14px;
    text-align: center;
}

.zD5Nm .YouOG {
    line-height: 2.5rem;
}

.zD5Nm.f7aZ0 .YouOG .Fc1rA {
    font-weight: 700;
    letter-spacing: -1px;
}

.zD5Nm .YouOG .Fc1rA {
    margin-right: 6px;
    font-size: 2.1rem;
    color: rgba(var(--place-color-text1), 1);
    vertical-align: top;
}

.zD5Nm.f7aZ0 .YouOG .DJJvD {
    font-size: 1.4rem;
}

.zD5Nm .YouOG .DJJvD {
    display: inline-block;
    vertical-align: top;
    color: rgba(var(--place-color-text5), 1);
}

.zD5Nm .dAsGb:not(:empty) {
    margin-top: 3px;
}

.zD5Nm.f7aZ0 .dAsGb .PXMot {
    font-size: 1rem;
}

.zD5Nm .dAsGb .PXMot.LXIwF {
    color: rgba(var(--place-color-text5), 1);
}

.zD5Nm .dAsGb .PXMot {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 1.5rem;
    white-space: nowrap;
}

.zD5Nm.f7aZ0 .dAsGb .PXMot.LXIwF .GWkzU {
    width: 15px;
    height: 15px;
}

.zD5Nm .dAsGb .PXMot.LXIwF .GWkzU {
    fill: #fc4c4e;
    margin: 3px 3px 0 0;
}

img, svg {
    display: inline-block;
    vertical-align: top;
}

svg:not(:root) {
    overflow: hidden;
}

.zD5Nm .dAsGb .PXMot.LXIwF em {
    font-weight: 600;
    color: rgba(var(--place-color-text2), 1);
}

.zD5Nm .HyFB6 .CRjGs::before, .zD5Nm .P8uHj .ESXsu em::after, .zD5Nm .P8uHj .QpPVO .PXMot::after, .zD5Nm .iozGz .oZBTx .PXMot+.PXMot::before, .zD5Nm .pzITx .zIB_M+.zIB_M::before, .zD5Nm .mfvx2 .yZ9V9::before, .zD5Nm .dAsGb .PXMot+.PXMot::before {
    display: inline-block;
    vertical-align: top;
    width: 3px;
    height: 3px;
    margin: 8px 6px 0;
    border-radius: 50%;
    background: rgba(var(--place-color-border12), 1);
    content: "";
}

.place_bluelink {
    color: rgba(var(--place-color-link), 1);
}


























