<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tasteZip.infra.modules.comment.CommentMapper">
	<resultMap id="resultMapObj" type="com.tasteZip.infra.modules.comment.Comment"></resultMap>
	
	<sql id ="selectCommon">
		FROM comment c
			LEFT JOIN member m on m.ifmmSeq = c.ifmmSeq
			LEFT JOIN store s on s.ifstSeq = c.ifstSeq
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ifcmDelNy = #{shDelNy}</if>
		<if test="shOptionDate == 1">AND ifcmCreatedAt between #{shDateStart} and #{shDateEnd}</if>
		<choose>
			<when test="shOption == 1">AND ifcmComment LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND ifcmGrade = #{shValue}</when>
			<when test="shOption == 3">AND ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND ifstName LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shOptionDate == 1">AND cc.ifcmCreatedAt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND cc.ifcmModifiedAt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>

	<select id="myReview" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql2"/>
		SELECT
			c.ifcmSeq
			,c.ifcmComment
			,c.ifcmCreatedAt
			,c.ifcmDelNy
			,c.ifmmSeq
			,c.ifcmGrade
			,s.ifstName
			,s.ifstAddress
		FROM comment c 
			LEFT JOIN store s on s.ifstSeq = c.ifstSeq
		WHERE 1=1
		AND c.ifmmSeq = #{ifmmSeq}
		AND c.ifcmDelNy = 0
		ORDER BY c.ifcmSeq DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql2" /> 
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM comment c
		WHERE 1=1
	</select>
	
	 <!--          관리자 mapper s        -->	
	
	<select id="selectList2" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
			c.ifcmSeq
			,c.ifcmComment
			,c.ifcmCreatedAt
			,c.ifcmGrade
			,s.ifstName
			,s.ifstAddress
			,m.ifmmName
		<include refid="selectCommon" />
		ORDER BY c.ifcmSeq DESC
	   	<include refid="Base.orderByLimitForMysql" />
   		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount2" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	 <select id="selectOne" resultMap="resultMapObj">
		SELECT
			c.ifcmSeq
			,c.ifcmComment
			,c.ifcmGrade
			,c.ifcmCreatedAt
			,c.ifcmModifiedAt
			,s.ifstName
			,s.ifstAddress
			,m.ifmmName
	    from comment c
	    	LEFT JOIN store s on s.ifstSeq = c.ifstSeq
			LEFT JOIN member m on m.ifmmSeq = c.ifmmSeq
		where 1=1
	 		AND c.ifcmSeq = #{ifcmSeq}  <!-- #안에 있는 값들은 입력받는 곳에 name값 그대로 가져오기 -->
	</select> 

	<insert id="insert">
		INSERT INTO comment (
			c.ifcmSeq
			,c.ifcmComment
		)
		VALUES (
			#{ifcmSeq}
			,#{ifcmComment}
		)
		
		<selectKey resultType="String" keyProperty="ifcmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
	 	UPDATE comment
	 	SET
			c.ifcmComment = #{ifcmComment}
		WHERE
			c.ifcmSeq = #{ifcmSeq}
 	</update>
 	
 	<update id="uelete">
	 	UPDATE comment
	 	SET
	 		ifcmDelNy = 1
		WHERE 1=1
			and c.ifcmDelNy = #{ifcmDelNy}
 	</update>
 	
 	<delete id="delete">
 		DELETE FROM 
 			comment 
		WHERE 
			c.ifcmSeq = #{ifcmSeq}
 	</delete>

</mapper>