<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tasteZip.infra.modules.order.OrderMapper">
	<resultMap id="resultMapObj" type="com.tasteZip.infra.modules.order.Order"></resultMap>
	
	<sql id ="selectCommon">
	 	FROM buy b
			JOIN store s on s.ifstSeq = b.ifstSeq
			JOIN member m on m.ifmmSeq = b.ifmmSeq
			JOIN menu mn on mn.ifmnSeq = b.ifmnSeq
		wHERE 1=1		
		<if test="shDelNy !=null and !shDelNy.equals('')">AND b.ifbyDelNy = #{shDelNy}</if>
		<if test="shOptionDate == 1">AND ifbyCreatedAt between #{shDateStart} and #{shDateEnd}</if>
		<if test="shValue != null"></if>
		<choose>
			<when test="shOption == 1">AND s.ifstName = #{shValue}</when>
			<when test="shOption == 2">AND mn.ifmnName LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND m.ifmmName LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shOptionDate == 1">AND b.ifbyCreatedAt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql> 
	
	<select id="myOrder" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			o.iforSeq
			,o.iforCreatedAt
			,s.ifstName
		FROM orders o
			join buy b on b.iforSeq = o.iforSeq
			join store s on s.ifstSeq = b.ifstSeq
		WHERE 1=1
		AND b.ifmmSeq = #{ifmmSeq}
		group by o.iforSeq
		ORDER BY o.iforSeq DESC
		<include refid="Base.orderByLimitForMysql" />
		) aa
		limit 5 offset #{startRnumForMysql}
	</select>
	
	<select id="myOrderMain" resultMap="resultMapObj">
		SELECT
			b.ifbySeq
			,b.ifbyCreatedAt
			,s.ifstName
			,up.uuidName
			,up.path
		FROM buy b
			join store s on s.ifstSeq = b.ifstSeq
			join storeUploaded up on up.pseq = b.ifstSeq
		WHERE 1=1
		AND b.ifmmSeq = #{ifmmSeq}
		AND up.sort = 1
		ORDER BY b.ifbySeq DESC
		limit 3
	</select>
	
	<select id="myOrderCount" resultType="Integer">
		SELECT COUNT(*)
		FROM orders
		WHERE 1=1
			and ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="myPageViewMenu" resultMap="resultMapObj">
		SELECT
			mn.ifmnName
			,b.ifbyPrice
			,b.ifbyCount
			,mu.path
    		,mu.uuidName
		FROM buy b
			JOIN store s on s.ifstSeq = b.ifstSeq
			JOIN member m on m.ifmmSeq = b.ifmmSeq
			JOIN menu mn on mn.ifmnSeq = b.ifmnSeq
			LEFT JOIN menuUploaded mu on mu.pseq = b.ifmnSeq
		WHERE 1=1
		 	and b.iforSeq = #{iforSeq}  <!-- 일단 조건값을 넣어줌 -->
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			s.ifStName
			,o.iforCreatedAt
			,m.ifmmName
			,m.ifmmPhone
			,m.ifmmEmail
			,o.iforPrice
			,o.iforSeq
			,su.path
			,su.uuidName
		FROM buy b
			JOIN store s on s.ifstSeq = b.ifstSeq
			JOIN member m on m.ifmmSeq = b.ifmmSeq
			join orders o on o.iforSeq = b.iforSeq
			LEFT JOIN storeUploaded su on su.pseq = s.ifstSeq
		WHERE 1=1
		 	and b.iforSeq = #{iforSeq}
		 	and su.sort = 1
	 	group by
	 		ifstName
	</select>

	<select id="payFin" resultMap="resultMapObj">
		SELECT
			o.iforSeq
			,o.iforName
			,o.iforPrice
			,o.iforCount
			,o.iforCreatedAt
			,m.ifmmName
			,m.ifmmPhone
			,m.ifmmEmail
			,s.ifstName
			,su.path
			,su.uuidName
		FROM orders o
			join buy b on b.iforSeq = o.iforSeq
			join member m on m.ifmmSeq = b.ifmmSeq
			join store s on s.ifstSeq = b.ifstSeq
			left join storeUploaded su on su.pseq = s.ifstSeq
		WHERE 1=1
			and o.iforSeq = #{iforSeq}
			and su.sort = 1
		group by 
			iforSeq
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM buy b
		WHERE 1=1
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			b.ifbySeq
			,s.ifstName
			,mn.ifmnName
			,m.ifmmName
			,m.ifmmPhone
			,b.ifbyCount
			,b.ifbyPrice
			,b.ifbyPay
			,b.ifbyCreatedAt
		<include refid="selectCommon" />
		ORDER BY b.ifbySeq DESC
	</select>
	<!-- 관리자 list -->
	<select id="xdminSelectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			b.ifbySeq
			,s.ifstName
			,mn.ifmnName
			,m.ifmmName
			,m.ifmmPhone
			,b.ifbyCount
			,b.ifbyPrice
			,b.ifbyPay
			,b.ifbyCreatedAt
		<include refid="selectCommon"></include>
		ORDER BY b.ifbySeq DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="xdminSelectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
		<!-- user delete -->
	
	<update id="uelete">
		UPDATE buy
		SET
			ifbyDelNy = 1
		WHERE 1=1
			AND ifbySeq = #{ifbySeq}
	</update>
	
	<delete id="delete">
		DELETE FROM buy
		WHERE 1=1
			AND ifbySeq = #{ifbySeq}
	</delete>
	
	<!-- list Uele -->
	<update id="ueleteList">
		UPDATE buy
		SET
			ifbyDelNy = 1
		WHERE
			ifbySeq = #{ifbySeq}
	</update>
	
	<insert id="insertBuy">
		insert INTO buy (
			ifstSeq
			,ifmnSeq
			,ifbyCount
			,ifbyPrice
			,ifbyPay
			,ifbyDelNy
			,ifbyCreatedAt
			,ifmmSeq
			,iforSeq
		) VALUES (
			#{ifstSeq}
			,#{ifmnSeq}
			,#{ifbyCount}
			,#{ifbyPrice}
			,#{ifbyPay}
			,0
			,now()
			,#{ifmmSeq}
			,#{iforSeq}
		)
		<selectKey resultType="String" keyProperty="ifbySeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertOrder">
		insert INTO orders (
			iforName
			,iforPrice
			,iforCount
			,iforCreatedAt
			,ifmmSeq
		) VALUES (
			#{iforName}
			,#{iforPrice}
			,#{iforCount}
			,now()
			,#{ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="iforSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>