<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tasteZip.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.tasteZip.infra.modules.member.Member"></resultMap>
    
    <sql id ="selectCommon">
		FROM member m
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ifmmDelNy = #{shDelNy}</if>
		<if test="shOptionDate == 1">AND ifstCreatedAt between #{shDateStart} and #{shDateEnd}</if>
		<choose>
			<when test="shOption == 1">AND ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND ifmmPhone LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND ifmmEmail LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				m.ifmmSeq
				,m.ifmmName
				,m.ifmmId
				,m.ifmmDob
				,m.ifmmGender
				,m.ifmmEmail
				,m.ifmmPhone
				,m.ifmmZipCode
				,m.ifmmAddress
				,m.ifmmDetailAddress
				,m.ifmmExtraAddress
				,m.ifmmSnsDiv
				,m.ifmmEmailCheck
				,m.ifmmDelNy
				,m.ifmmCreatedAt
				,m.ifmmModifiedAt
			<include refid="selectCommon"></include>
			ORDER BY m.ifmmCreatedAt DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectListLimit5" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				m.ifmmSeq
				,m.ifmmName
				,m.ifmmId
				,m.ifmmEmail
				,m.ifmmCreatedAt
			<include refid="selectCommon"></include>
			ORDER BY m.ifmmCreatedAt DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql3" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
			select 
				m.ifmmSeq
				,m.ifmmName
				,m.ifmmId
				,m.ifmmDob
				,m.ifmmGender
				,m.ifmmEmail
				,m.ifmmRadioOperator
				,m.ifmmPhone
				,m.ifmmZipCode
				,m.ifmmAddress
				,m.ifmmDetailAddress
				,m.ifmmExtraAddress
				,m.ifmmUserDiv
				,m.ifmmSnsDiv
				,m.ifmmEmailCheck
				,m.ifmmDelNy
			FROM member m
			WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="selectDay" resultMap="resultMapObj">
			select 
				m.ifmmCreatedAt
			FROM member m
			WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="selectImg" resultMap="resultMapObj">
		SELECT
		 * 
		 FROM memberUploaded
		 WHERE
		 pseq = #{ifmmSeq}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<!-- login check s -->
	<select id="loginCheck" resultMap="resultMapObj">
		select 
			m.ifmmSeq
			,m.ifmmId
			,m.ifmmName
			,m.ifmmEmail
			,m.ifmmUserDiv
			,m.ifmmSnsDiv
			,m.ifmmSnsImg
			,m.ifmmPhone
		from member m
		where 1=1 
			and ifmmId = #{ifmmId} 
			and ifmmPwd = #{ifmmPwd}
			and ifmmDelNy = 0
	</select>	
	
	<select id="snsLoginCheck" resultMap="resultMapObj">
		select 
			m.ifmmSeq
			,m.ifmmId
			,m.ifmmName
			,m.ifmmEmail
			,m.ifmmUserDiv
			,m.ifmmSnsDiv
			,m.ifmmSnsImg
		from member m
		where 1=1 
			and ifmmId = #{ifmmId}
			and ifmmName = #{ifmmName}
			and ifmmEmail = #{ifmmEmail}
			and ifmmDelNy = 0
	</select>

	<select id="xdminLoginCheck" resultMap="resultMapObj">
		select 
			m.ifmmSeq
			,m.ifmmId
			,m.ifmmName
			,m.ifmmEmail
			,m.ifmmUserDiv
			,m.ifmmSnsDiv
			,m.ifmmSnsImg
		from member m
		where 1=1 
			and ifmmId = #{ifmmId} 
			and ifmmPwd = #{ifmmPwd}
			and ifmmUserDiv = 15
			and ifmmDelNy = 0
	</select>
	<!-- login check  -->
	
	<!-- user insert s -->
	<insert id="userInsert">
		INSERT INTO member (
			ifmmSeq
			,ifmmId
			,ifmmName
			,ifmmPwd
			,ifmmDob
			,ifmmGender
			,ifmmEmail
			,ifmmRadioOperator
			,ifmmPhone
			,ifmmZipCode
			,ifmmAddress
			,ifmmDetailAddress
			,ifmmExtraAddress
			,ifmmUserDiv
			,ifmmSnsDiv
			,ifmmEmailCheck
			,ifmmCreatedAt
			,ifmmModifiedAt
			,ifmmDelNy
		)
		VALUES (
			#{ifmmSeq}
			,#{ifmmId}
			,#{ifmmName}
			,#{ifmmPwd}
			,#{ifmmDob}
			,#{ifmmGender}
			,#{ifmmEmail}
			,#{ifmmRadioOperator}
			,#{ifmmPhone}
			,#{ifmmZipCode}
			,#{ifmmAddress}
			,#{ifmmDetailAddress}
			,#{ifmmExtraAddress}
			,13
			,0
			,#{ifmmEmailCheck}
			,now()
			,now()
			,0
		)
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- user insert e -->
	
	<!-- user Update s -->
	<update id="userUpdate">
		UPDATE member
		SET
			ifmmName = #{ifmmName}
			,ifmmId = #{ifmmId}
			,ifmmDob = #{ifmmDob}
			,ifmmGender = #{ifmmGender}
			,ifmmEmail = #{ifmmEmail}
			,ifmmRadioOperator = #{ifmmRadioOperator}
			,ifmmPhone = #{ifmmPhone}
			,ifmmZipCode = #{ifmmZipCode}
			,ifmmAddress = #{ifmmAddress}
			,ifmmDetailAddress = #{ifmmDetailAddress}
			,ifmmExtraAddress = #{ifmmExtraAddress}
			,modifiedAt = now()
		where 1=1
			and ifmmSeq = #{ifmmSeq}
	</update>
	<!-- user Update e -->
	
	<!-- user Update s -->
	<update id="mypageUpdt">
		UPDATE member
		SET
			ifmmName = #{ifmmName}
			,ifmmId = #{ifmmId}
			,ifmmDob = #{ifmmDob}
			,ifmmGender = #{ifmmGender}
			,ifmmEmail = #{ifmmEmail}
			,ifmmRadioOperator = #{ifmmRadioOperator}
			,ifmmPhone = #{ifmmPhone}
			,ifmmZipCode = #{ifmmZipCode}
			,ifmmAddress = #{ifmmAddress}
			,ifmmDetailAddress = #{ifmmDetailAddress}
			,ifmmExtraAddress = #{ifmmExtraAddress}
			,ifmmEmailCheck = #{ifmmEmailCheck}
			,ifmmModifiedAt = now()
		where 1=1
			and ifmmSeq = #{ifmmSeq}
	</update>
	
	<!-- user Update e -->
	
	<select id="codeGender" resultMap="resultMapObj">
		select 
			c.ifccSeq
			,c.ifccName
		from code c
		where 1=1 
			and c.ifcgSeq = '2'
	</select>

	<select id="codeRadio" resultMap="resultMapObj">
		select 
			c.ifccSeq
			,c.ifccName
		from code c
		where 1=1 
			and c.ifcgSeq = '1'
	</select>
	
	<!-- id validation -->
	
	<select id="idCheck" resultType="Integer">
		SELECT 
			COUNT(ifmmId) 
		FROM member 
		WHERE ifmmId= #{ifmmId}
	</select>
	
	
	<!-- user delete -->
	
	<update id="uelete">
		UPDATE member
		SET
			ifmmDelNy = 1
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM member
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</delete>
	
	<!-- sns insert s -->
	<insert id="snsInst">
		INSERT INTO member (
			ifmmId
			,ifmmName
			,ifmmEmail
			,ifmmGender
			,ifmmDob
			,ifmmCreatedAt
			,ifmmUserDiv
			,ifmmSnsDiv
			,ifmmDelNy
			,ifmmSnsImg
		)
		VALUES (
			#{ifmmId}
			,#{ifmmName}
			,#{ifmmEmail}
			,#{ifmmGender}
			,#{ifmmDob}
			,now()
			,13
			,#{ifmmSnsDiv}
			,0
			,#{ifmmSnsImg}
		)
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- sns insert e -->
	
	<!-- 아이디 패스워드 찾기 s -->
	<select id="findId" resultMap="resultMapObj">
		select
			m.ifmmId
		from member m
		where 1=1
			and m.ifmmName = #{ifmmName}
			and m.ifmmDob = #{ifmmDob}
			and m.ifmmPhone = #{ifmmPhone}
	</select>
	
	<select id="findPwd" parameterType="String" resultType="int">
		select 
			count(*)
		from member m
		where 1=1
			and m.ifmmId = #{ifmmId}
			and m.ifmmName = #{ifmmName}
			and m.ifmmDob = #{ifmmDob}
	</select>

	<update id="changePwd">
		UPDATE member
		SET
			ifmmPwd = #{ifmmPwd}
		where 1=1
			and ifmmId = #{ifmmId}
			and ifmmName = #{ifmmName}
			and ifmmDob = #{ifmmDob}
	</update>
	<!-- 아이디 패스워드 찾기 e -->
	
</mapper>