<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tasteZip.infra.modules.store.StoreMapper">

	<resultMap id="resultMapObj" type="com.tasteZip.infra.modules.store.Store"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				s.ifstSeq
				,s.ifstName
				,s.ifstPhone
				,s.ifstAddress
				,s.ifstInfo
				,s.ifstDirections
				,s.ifstOrderNy
				,s.ifstCreatedAt
		    from store s
			where 1=1
				<if test="shValue != null and !shValue.equals('')">AND ifstName LIKE CONCAT('%',#{shValue},'%')</if>
		    ORDER BY 
		    	s.ifstCreatedAt DESC
		   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		from store s
		where 1=1
			<if test="shValue != null and !shValue.equals('')">AND ifstName LIKE CONCAT('%',#{shValue},'%')</if>
	</select>
	
</mapper>