<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tasteZip.infra.modules.store.StoreMapper">

	<resultMap id="resultMapObj" type="com.tasteZip.infra.modules.store.Store"></resultMap>
	
	 <sql id ="selectCommon">
		FROM store s
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ifstDelNy = #{shDelNy}</if>
		<if test="shOptionDate == 1">AND ifstCreatedAt between #{shDateStart} and #{shDateEnd}</if>
		<choose>
			<when test="shOption == 1">AND ifstName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND ifstPhone LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND ifstAddress LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="storeList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				s.ifstSeq
				,s.ifstName
				,s.ifstAddress
				,s.ifstLat
				,s.ifstLng
				,up.path
       			,up.uuidName
       			,up.sort
       			,up.seq
		    from store s
		    left join storeUploaded up on up.pseq = s.ifstSeq
			where 1=1
				AND s.ifstDelNy = 0
				AND up.sort = 1
				<if test="shValue != null and !shValue.equals('')"> AND s.ifstName LIKE CONCAT('%',#{shValue},'%')</if>
		    ORDER BY 
		    	s.ifstCreatedAt DESC
		   	<include refid="Base.orderByLimitForMysql" />
	   		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="mainStoreList" resultMap="resultMapObj">
		select 
			s.ifstSeq
			,s.ifstName
			,s.ifstAddress
			,s.ifstAddressDetail
			,s.ifstPhone
			,up.path
   			,up.uuidName
   			,up.sort
   			,up.seq
	    from store s
	    left join storeUploaded up on up.pseq = s.ifstSeq
		where 1=1
			AND s.ifstDelNy = 0
			AND up.sort = 1
			<if test="shValue != null and !shValue.equals('')"> AND s.ifstName LIKE CONCAT('%',#{shValue},'%')</if>
	    ORDER BY 
	    	s.ifstCreatedAt DESC
	    LIMIT 4
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				s.ifstSeq
				,s.ifstName
				,s.ifstPhone
				,s.ifstZipCode
				,s.ifstAddress
				,s.ifstAddressDetail
				,s.ifstAddressExtra
				,s.ifstLat
				,s.ifstLng
				,s.ifstInfo
				,s.ifstDirections
				,s.ifstOrderNy
				,s.ifstCreatedAt
		    from store s
			where 1=1
				and s.ifstDelNy = 0
				<if test="shValue != null and !shValue.equals('')">AND ifstName LIKE CONCAT('%',#{shValue},'%')</if>
		    ORDER BY 
		    	s.ifstCreatedAt DESC
		   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="imgList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				up.*
		    from storeUploaded up
			where 1=1
				and pseq = #{pseq}
		   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		from store s
		where 1=1
		<if test="shValue != null and !shValue.equals('')">AND ifstName LIKE CONCAT('%',#{shValue},'%')</if>
	</select>
	
	<!-- xdmin s -->
	<select id="xdminSelectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				s.ifstSeq
				,s.ifstName
				,s.ifstPhone
				,s.ifstZipCode
				,s.ifstAddress
				,s.ifstAddressDetail
				,s.ifstAddressExtra
				,s.ifstInfo
				,s.ifstDirections
				,s.ifstOrderNy
				,s.ifstDelNy
				,s.ifstCreatedAt
	   <include refid="selectCommon"></include>
	    	ORDER BY s.ifstSeq DESC
	   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select> 
	
	<select id="selectListLimit5" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				s.ifstSeq
				,s.ifstName
				,s.ifstPhone
				,s.ifstAddress
				,s.ifstCreatedAt
	   <include refid="selectCommon"></include>
	    	ORDER BY s.ifstCreatedAt DESC
	   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql3" />
	</select> 
	
	<select id="xdminSelectOneCount" resultType="Integer">
		SELECT COUNT(*)
   		from store s
		where 1=1
	</select>
	
	<select id="xdminSelectOne" resultMap="resultMapObj">
		select 
			s.ifstSeq
			,s.ifstName
			,s.ifstPhone
			,s.ifstZipCode
			,s.ifstAddress
			,s.ifstAddressDetail
			,s.ifstAddressExtra
			,s.ifstLat
			,s.ifstLng
			,s.ifstInfo
			,s.ifstDirections
			,s.ifstOrderNy
			,su.path
			,su.uuidName
	    from store s
	    	left join storeUploaded su on su.pseq = s.ifstSeq
		where 1=1
			and s.ifstSeq = #{ifstSeq}
			and su.sort = 1
	</select>
	
	<select id="storeSelectOne" resultMap="resultMapObj">
		select 
			s.ifstSeq
			,s.ifstName
			,s.ifstPhone
			,s.ifstZipCode
			,s.ifstAddress
			,s.ifstAddressDetail
			,s.ifstAddressExtra
			,s.ifstLat
			,s.ifstLng
			,s.ifstInfo
			,s.ifstDirections
			,s.ifstOrderNy
			,su.path
			,su.uuidName
			,fv.iffvSeq
			,fv.iffvUseNy
	    from store s
	    	left join storeUploaded su on su.pseq = s.ifstSeq
	    	left join favorite fv on fv.ifstSeq = s.ifstSeq
		where 1=1
			and s.ifstSeq = #{ifstSeq}
			and su.sort = 1
	</select>
	
	<select id="storeMain" resultMap="resultMapObj">
		select 
			s.*
	    from store s
		where 1=1
			and s.ifstSeq = #{ifstSeq}
	</select>
	
	<select id="menuList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		select
			m.ifmnName
			,m.ifmnSeq
			,m.ifmnPrice
			,m.ifstSeq
			,up.path
			,up.uuidName
			,up.pseq
	    from menu m
	    left join menuUploaded up on up.pseq = m.ifmnSeq
	    left join store s on s.ifstSeq = m.ifstSeq
		where 1=1
			and m.ifstSeq = #{ifstSeq}
		<include refid="Base.orderByLimitForMysql" />
	   	) aa
		limit 2 offset 0
	</select> 

	<select id="openingList" resultMap="resultMapObj">
		select 
			rt.ifrtDay
            ,rt.ifrtStartTime
            ,rt.ifrtEndTime
            ,rt.ifrtOpening
            ,rt.ifstSeq
	    from runningTime rt
		where 1=1
			and rt.ifstSeq = #{ifstSeq}
	</select> 
	
	<select id="day" resultMap="resultMapObj">
		select 
			rt.ifrtDay
            ,rt.ifrtOpening
	    from runningTime rt
		group by 
			ifrtDay
	</select> 

	<select id="opening" resultMap="resultMapObj">
		select 
			rt.ifrtDay
            ,rt.ifrtOpening
	    from runningTime rt
		group by 
			ifrtOpening
	</select> 
	
	<insert id="insert">
		INSERT INTO store (
			ifstName 
			,ifstPhone 
			,ifstZipCode
			,ifstAddress
			,ifstAddressDetail
			,ifstAddressExtra
			,ifstLat
			,ifstLng
			,ifstInfo 
			,ifstDirections 
			,ifstOrderNy
			,ifstDelNy
			,ifstCreatedAt
			,ifstModifiedAt
		)
		VALUES (
			#{ifstName}
			,#{ifstPhone}
			,#{ifstZipCode}
			,#{ifstAddress}
			,#{ifstAddressDetail}
			,#{ifstAddressExtra}
			,#{ifstLat}
			,#{ifstLng}
			,#{ifstInfo}
			,#{ifstDirections}
			,#{ifstOrderNy}
			,0
			,now()
			,now()
		)
		<selectKey resultType="String" keyProperty="ifstSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

	<insert id="runningInsert">
		INSERT INTO runningTime (
			ifrtDay 
			,ifrtStartTime 
			,ifrtEndTime
			,ifrtOpening
			,ifstSeq
		)
		VALUES (
			#{ifrtDay}
			,#{ifrtStartTime}
			,#{ifrtEndTime}
			,#{ifrtOpening}
			,#{ifstSeq}
		)
		<selectKey resultType="String" keyProperty="ifrtSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE store
		SET
			ifstName = #{ifstName}
			,ifstPhone = #{ifstPhone}
			,ifstZipCode = #{ifstZipCode}
			,ifstAddress = #{ifstAddress}
			,ifstAddressDetail = #{ifstAddressDetail}
			,ifstAddressExtra = #{ifstAddressExtra}
			,ifstLat = #{ifstLat}
			,ifstLng = #{ifstLng}
			,ifstInfo = #{ifstInfo}
			,ifstDirections = #{ifstDirections}
			,ifstOrderNy = #{ifstOrderNy}
			,ifstModifiedAt = now()
		where 1=1
			and ifstSeq = #{ifstSeq}
	</update>

	<update id="runningUpdate">
		UPDATE runningTime
		SET
			ifrtDay = #{ifrtDay}
			,ifrtStartTime = #{ifrtStartTime}
			,ifrtEndTime = #{ifrtEndTime}
			,ifrtOpening = #{ifrtOpening}
			,ifstSeq = #{ifstSeq}
		where 1=1
			and ifstSeq = #{ifstSeq}
			and ifrtDay = #{ifrtDay}
	</update>
	
	<update id="uelete">
		UPDATE store
		SET
			ifstDelNy = 1
		where 1=1
			and ifstSeq = #{ifstSeq}
	</update>
	
	<delete id="sDelete">
		DELETE
		FROM store where ifstSeq = #{ifstSeq}
	</delete>

	<delete id="rtDelete">
		DELETE
		FROM runningTime where ifstSeq = #{ifstSeq}
	</delete>
	
	<!-- xdmin e --> 
	
	<!-- 이미지 -->
	<select id="selectImg" resultMap="resultMapObj">
		SELECT
		 * 
		 FROM storeUploaded
		 WHERE 1=1
		 	and pseq = #{ifstSeq}
	</select>
	
	<!-- product img uploaded -->
	<insert id="insertUploaded">
		INSERT INTO storeUploaded (
		    type
		    ,defaultNy
		    ,sort
		    ,originalName
		    ,uuidName
		    ,ext
		    ,size
		    ,delNy
		    ,pseq
		    ,path
		   )
		   VALUES (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{ifstSeq} 
			,#{path}
			)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- favorite Insert -->
	<insert id="insertFv">
		INSERT INTO favorite (
			ifstSeq 
			,iffvUseNy 
			,ifmmSeq
		)
		VALUES (
			#{ifstSeq}
			,#{iffvUseNy}
			,#{ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="iffvSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- favorite update -->
	<update id="updateFv">
		UPDATE favorite
		SET
			iffvSeq = #{iffvSeq}
			,iffvUseNy = #{iffvUseNy}
			,ifmmSeq = #{ifmmSeq}
			,ifstSeq = #{ifstSeq}
		where 1=1
			and iffvSeq = #{iffvSeq}
	</update>
</mapper>