/* Footer */
#footer{padding:40px 60px; overflow:hidden;}
#footer h1{float:left; overflow:hidden;}
#footer nav{float:right; color:#fff;}
#footer nav h2{font-family:"LeferiPointBlack"; font-size: 14px; font-weight: 900; font-stretch: normal; font-style: normal; line-height: 1.9; letter-spacing: normal; text-align: right; color: #ffffff; padding-right: 28px; position: relative; cursor: pointer;}
#footer nav ul{margin:0px; padding:0px; overflow:hidden; list-style:none;}
#footer nav ul li{}
#footer nav ul li a{ color:#fff; }
#ft_company{margin-top:50px; overflow:hidden;}
#ft_company .ft_info > div{float:left; color:#fff; margin-right:50px;}
#ft_company .ft_info > div p {font-family:"LeferiPointWhite"; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.86;letter-spacing: normal; color: #ffffff;}
#ft_company .ft_info > div a{font-family:"LeferiPointWhite"; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal;line-height: 2.17; letter-spacing: normal; color: #ffffff;}

.ft_hd{display: inline-block;
	width: 100%;}

.fnav_top{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 12px 7px;
	background-image: url("./img/foot_nav_bottom.png");
	position: absolute;
	right: 0;
	top: 0;

}

.family_site_list{
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
}

#footer nav ul li:hover a{
	color: rgba(255, 255, 255, 0.6);
}

.family_site_list > li a{
	text-decoration: none;
	display: block;
	text-align: left;
}

.family_site_list.is-block{
	display: block;
}

@media screen and (max-width: 845px) {
	#footer{padding:30px 20px; }
	#footer nav h2{font-size:12px;}
	#ft_company .ft_info > div{float:inherit; margin-bottom:10px;}
	#ft_company .ft_info > div p{font-size:12px;}
	#ft_company .ft_info > div a{font-size:10px;}
}