.search_box2{
   	position: relative;
    height: 50px;
    padding-left: 45px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#reTyping {
	margin-top: 50px;
	margin-left: 20px;
	
}

#reTyping2 {
	margin-top: 50px;
	margin-right: 50px;
}

.rotate {
	width: 40px;
	height: 40px;
	border: 1px solid lightgrey; 
	border-radius: 30px;
	
}

.A {
	border: 1px solid lightgrey; 
	border-radius: 30px;
}

.span {
    width: 30px;
    height: 30px;
    justify-items: center;
    padding-top: 1px;
    border-radius: 50%;
}

.btnRotate:hover {
	border-color: #ff7f00;
}

input {
	color: #000;
	caret-color:#ff7f00;
	cursor: url(/resources/images/main/cursor_o.png), auto !important;
}

#container{
	font-family: 'Pretendard-Regular';	
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
