<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tasteZip.infra.modules.reservation.ReservationMapper">
	<resultMap id="resultMapObj" type="com.tasteZip.infra.modules.reservation.Reservation"></resultMap>
 
 	<sql id ="selectCommon">
	 	FROM reservation r
			JOIN store s on s.ifstSeq = r.ifstSeq
			JOIN member m on m.ifmmSeq = r.ifmmSeq
			JOIN menu mn on mn.ifmnSeq = r.ifmnSeq
		wHERE 1=1		
		<if test="shDelNy !=null and !shDelNy.equals('')">AND r.ifrvDelNy = #{shDelNy}</if>
		<if test="shValue != null"></if>
		
		<choose>
			<when test="shOption == 1">AND s.ifstName = #{shValue}</when>
			<when test="shOption == 2">AND mn.ifmnName LIKE CONCAT('%', #{shValue},'%')</when>
			<when test="shOption == 3">AND m.ifmmName LIKE CONCAT('%', #{shValue},'%')</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND r.ifrvCreatedAt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql> 
	
	<select id="selectListMyRV" resultMap="resultMapObj"> 
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			 s.ifstName
			 ,r.ifrvSeq
			 ,r.ifrvDate
			 ,r.ifrvTime
		 from reservation r
		 left join store s on s.ifstSeq = r.ifstSeq
			 where 1=1
			 and r.ifmmSeq = #{ifmmSeq}
		Order by r.ifrvDate DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<!-- dmin list -->
	<select id="selectList" resultMap="resultMapObj"> 
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			 r.ifrvSeq
			 ,s.ifstName
			 ,mn.ifmnName
			 ,m.ifmmName
			 ,m.ifmmPhone
			 ,r.ifrvCount
			 ,r.ifrvPerson
			 ,r.ifrvPrice
			 ,r.ifrvDate
			 ,r.ifrvTime
		<include refid="selectCommon" /> 
		Order by r.ifrvSeq DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM reservation r
		WHERE 1=1
	</select>
	
	<select id="selectOneMyRV" resultMap="resultMapObj">
		SELECT 
			  r.ifrvSeq
			 ,s.ifstName
			 ,r.ifrvDate
			 ,r.ifrvPerson
			 ,s.ifstAddress
			 ,mm.ifmmName
			 ,mm.ifmmPhone
			 ,mm.ifmmEmail
			 ,mn.ifmnName
			 ,r.ifrvCount
			 ,r.ifrvPrice
		 FROM reservation r
		 Left join store s on s.ifstSeq = r.ifstSeq
		 Left join member mm on mm.ifmmSeq = r.ifmmSeq
		 Left join menu mn on mn.ifmnSeq = r.ifmnSeq
			 WHERE 1=1
			 AND r.ifrvSeq = #{ifrvSeq}
	</select>
	
	<!-- list Uele -->
	<update id="ueleteList">
		UPDATE reservation
		SET
			ifrvDelNy = 1
		WHERE
			ifrvSeq = #{ifrvSeq}
	</update>
	
	<!-- 예약 -->	
	<insert id="insertRV">
		INSERT INTO reservation(
			ifrvDate
			,ifrvTime
			,ifrvCount
			,ifrvPerson
			,ifrvPrice
			,ifstSeq
			,ifmnSeq
			,ifmmSeq
		)
		VALUES (
			now()
			,now()
			,#{ifrvCount}
			,#{ifrvPerson}
			,#{ifrvPrice}
			,#{ifstSeq}
			,#{ifmnSeq}
			,#{ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="ifrvSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 예약 select -->
	<select id="selectRV" resultMap="resultMapObj">
		SELECT
			 s.ifstName
			 ,s.ifstAddress
			 ,mm.ifmmName
			 ,mm.ifmmPhone
			 ,mm.ifmmEmail
			 ,mn.ifmnName
			 ,mn.ifmnPrice
			 ,s.ifstSeq 
			 ,mn.ifmnSeq
			 ,mm.ifmmSeq
			 ,r.ifrvSeq
		 FROM reservation r
		 Left join store s on s.ifstSeq = r.ifstSeq
		 Left join member mm on mm.ifmmSeq = r.ifmmSeq
		 Left join menu mn on mn.ifmnSeq = r.ifmnSeq
			 WHERE 1=1
			 AND r.ifrvSeq = #{ifrvSeq}
			 AND mm.ifmmSeq = #{ifmmSeq}
	</select>
</mapper> 