@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @media screen and (max-width: 1399px) {
	.store {
		
	}
} */
.mypageImg{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	margin-left: 2rem;
}

.cotainer{
	font-family: 'Pretendard-Regular';
}

.titlefont{
	color: white;
	font-family: 'ghanachoco';
}

.navbar-nav{
	--bs-nav-link-hover-color: #ff6b00;
}

a {
    color: #212529;
    text-decoration: none;
}

a :hover{
	color: #ff6b00;
}

.font{
	font-family: 'Pretendard-Regular';
}

.menuTitle{
	font-family: 'ghanachoco' !important;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#account-menu{
	font-size: 22px;
}

#btnVisit{
	width: 100px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#signOutBtn{
	width: 200px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.card{
	padding-left: 0px;
	padding-right: 0px;
	
}
.cardbb{
    height: 170px;
}

.cardcc{
	height: 145px;
}

.storeImg{
	width: 120px;
	height: 80px;
}

.hrstyle{
	border: 0;
	height: 17px;
	background: #8F8F8F;
}

.wide{
	width: 97%;
	margin: auto;
}

.cardBorder{
	--bs-card-border-width: 0px;
}

#starValue{
	color: #ff8000;
	font-size: 15px;
}

.dashBord {
	background-color: rgba(33, 37, 41, 0.9);
	color: white;
	height: 150px; 
	border-radius: 30px;
	font-size: 17px;
	
}

.dashBord2 {
	height: 250px; 
	font-size: 17px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    float: none;
}
.title {
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
    color: #c1c1c1;
}
.link,
.link:visited {
    display: inline-block;
    margin: 20px 0;
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.link:hover,
.link:focus {
    color: #9fd6c2;
}
/* container - body */
#container {
    width: 1000px;
    margin: auto;
}
.slide_wrap {
    position: relative;
    width: 615px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 30px;
}
.slide_box {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}
.slide_content {
    display: table;
    float: left;
    width: 210px;
}
.slide_content > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #555;
}
.slide_btn_box > button {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}
.slide_btn_box > .slide_btn_prev {
    left: -100px;
}
.slide_btn_box > .slide_btn_next {
    right: -100px;
}
.slide_pagination {
    position: absolute;
    left: 50%;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide_pagination .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    overflow: hidden;
    background: #ddd;
    border-radius: 50%;
    transition: 0.3s;
}
.slide_pagination .dot.dot_active {
    background: #333;
}
.slide_pagination .dot a {
    display: block;
    width: 100%;
    height: 100%;
}


button.learn-more2 {
  color: #000000;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
  text-transform: uppercase;
  padding: 0.5em 0.5em;
  background: #e7e7e7;
  border: 2px solid #6c6a6b;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a5a5a5;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #6c6a6b, 0 0.625em 0 0 #e7e7e7;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more2:hover {
  background: #e7e7e7;
  transform: translate(0, 0.25em);
}
button.learn-more2:hover::before {
  box-shadow: 0 0 0 2px #6c6a6b, 0 0.5em 0 0 #e7e7e7;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more2:active {
  background: #e7e7e7;
  transform: translate(0em, 0.5em);
}
button.learn-more2:active::before {
  box-shadow: 0 0 0 2px #6c6a6b, 0 0 #e7e7e7;
  transform: translate3d(0, 0, -1em);
}

.profile{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	overflow: hidden;
}

.profile_user{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.form-check-input:checked {
    background-color: #FF5600;
    border-color: #FF5600;
}

#Modification{
	width: 300px;
	height: 40px;
	font-style: normal;
	font-size: 18px;
	margin-top: 3rem;
	background-color: #FF5600;
	color: white;
	font-family: 'Pretendard-Regular';
}

#Cancel{
	width: 300px;
	height: 40px;
	font-style: normal;
	font-size: 18px;
	margin-top: 3rem;
	background-color: black;
	color: white;
	font-family: 'Pretendard-Regular';
}

.form-label{
	font-weight: bold;
}

@media only screen and (max-width: 1400px) {
	.info-side {
		margin-left: 75px;
	}
}

 .cardMain {
  width: 150px;
  height: 180px;
  /*        부모의 자식 요소가 3차원의 애니메이션 효과를 가질때, 300px의 거리에서 보는 원근감을 줌*/
  perspective: 300px;
}

.cardMain .item {
  width: 150px;
  height: 180px;
  font-size: 20px;
  /*카드의 뒷면을 안보이게 처리-카드가 뒤집히면 뒷면이 안보임*/
  backface-visibility: hidden;
  transition: 1s;
}

.cardMain .item.front {
  /* 앞면 카드가 부유하게 되어, 뒷면 카드가 아래에서 위로 올라감 -> 요소 두개가 겹치게 됨*/
  position: absolute;
  /* 명시적으로 기본값 설정, 없어도 됨*/
  transform: rotateY(0deg);
}

.cardMain:hover .item.front {
  transform: rotateY(180deg);
}

.cardMain .item.back {
  /*y축을 중심으로 -180도 회전*/
  transform: rotateY(-180deg);
  text-align: center;
}

.cardMain:hover .item.back {
  transform: rotateY(0deg);
}










