@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @media screen and (max-width: 1399px) {
	.store {
		
	}
} */

.titlefont{
	color: white;
	font-family: 'ghanachoco';
}

.navbar-nav{
	--bs-nav-link-hover-color: #ff6b00;
}

.rounded-circle{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin-left: 2rem;
}

a {
    color: #212529;
    text-decoration: none;
}

a :hover{
	color: #ff6b00;
}

.font{
	font-family: 'Pretendard-Regular';
}

.menuTitle{
	font-family: 'ghanachoco' !important;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#account-menu{
	font-size: 22px;
}

#btnVisit{
	width: 100px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#signOutBtn{
	width: 200px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.card{
	padding-left: 0px;
	padding-right: 0px;
	
}
.cardbb{
    height: 170px;
}

.cardcc{
	height: 145px;
}

.storeImg{
	width: 120px;
	height: 80px;
}

.hrstyle{
	border: 0;
	height: 17px;
	background: #8F8F8F;
}

.wide{
	width: 97%;
	margin: auto;
}

.cardBorder{
	--bs-card-border-width: 0px;
}

#starValue{
	color: #ff8000;
	font-size: 15px;
}

input[type=checkbox] {

zoom: 1.7;

}
