@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.title {
	 font-family: 'ghanachoco';
}

input {
	color: #000;
	caret-color:#ff7f00;
}

#container{
	font-family: 'Pretendard-Regular';	
}

a{
	color: black;
}
a:hover{
	color: black;
}

.custom-btn {
  width: 70px;
  height: 30px;
  border: 2px solid #ff6600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* 15 */
.btn-15 {
   background: #ff6600;
  color: #fff;
  z-index: 1;
  font-family: 'insungitCutelivelyjisu';
}

@font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
   background: #ffffff;
  transition: all 0.3s ease; 
}
.btn-15:hover {
  color: #ff6600;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

button.learn-more2 {
  color: #000000;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
  text-transform: uppercase;
  padding: 0.5em 0.5em;
  background: #e7e7e7;
  border: 2px solid #6c6a6b;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a5a5a5;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #6c6a6b, 0 0.625em 0 0 #e7e7e7;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more2:hover {
  background: #e7e7e7;
  transform: translate(0, 0.25em);
}
button.learn-more2:hover::before {
  box-shadow: 0 0 0 2px #6c6a6b, 0 0.5em 0 0 #e7e7e7;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more2:active {
  background: #e7e7e7;
  transform: translate(0em, 0.5em);
}
button.learn-more2:active::before {
  box-shadow: 0 0 0 2px #6c6a6b, 0 0 #e7e7e7;
  transform: translate3d(0, 0, -1em);
}

.a .b{
	transition: all 0.2s linear;
}

.a:hover .b{
	transition: scale(1.4);
}


