<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tasteZip.infra.modules.menu.MenuMapper">

	<resultMap id="resultMapObj" type="com.tasteZip.infra.modules.menu.Menu"></resultMap>
	
	 <sql id ="selectCommon">
		FROM menu m
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ifmnDelNy = #{shDelNy}</if>
		<if test="shOptionDate == 1">AND ifmnCreatedAt between #{shDateStart} and #{shDateEnd}</if>
		<choose>
			<when test="shOption == 1">AND ifmnName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND ifmnPrice = #{shValue}</when>
			<when test="shOption == 3">AND ifmnInfo LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		select 
			m.ifmnSeq
			,m.ifmnName
			,m.ifmnPrice
			,m.ifmnInfo
			,m.ifmnSet_div
			,m.ifmnCreatedAt
			,mu.path
    		,mu.uuidName
	    from menu m
	    	left join menuUploaded mu on mu.pseq = m.ifmnSeq
		where 1=1
			and m.ifstSeq = #{ifstSeq}
		<if test="shValue != null and !shValue.equals('')">AND ifmnName LIKE CONCAT('%',#{shValue},'%')</if>
	   	<include refid="Base.orderByLimitForMysql" />
	</select>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		from menu m
		where 1=1
			<if test="shValue != null and !shValue.equals('')">AND ifmnName LIKE CONCAT('%',#{shValue},'%')</if>
	</select>
	
	<!--              관리자 mapper s               -->	
 
	<select id="selectList2" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				m.ifmnSeq
				,m.ifmnName
				,m.ifmnPrice
				,m.ifmnInfo
				,m.ifmnSet_div
				,m.ifmnCreatedAt
			<include refid="selectCommon"></include>
			ORDER BY m.ifmnSeq DESC
		   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount2" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			m.ifmnSeq
			,m.ifmnName
			,m.ifmnPrice
			,m.ifmnInfo
			,m.ifmnSet_div
	    from menu m
		where 1=1
	 		AND m.ifmnSeq = #{ifmnSeq}
	</select>
	
	<select id="selectMenu" resultMap="resultMapObj">
		SELECT
			m.*
	    from menu m
		where 1=1
	 	AND m.ifmnSeq = #{ifmnSeq}
	</select>
	
	<select id="selectImg" resultMap="resultMapObj">
		SELECT
		 * 
		 FROM menuUploaded
		 WHERE
		 pseq = #{ifmnSeq}
	</select>
	
	<select id="setDiv" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				m.ifmnSet_div
		    from menu m
			where 1=1
				<if test="shValue != null and !shValue.equals('')">AND ifmnName LIKE CONCAT('%',#{shValue},'%')</if>
			group by
				m.ifmnSet_div
			order by 
				m.ifmnSet_div
	   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<insert id="insert">
		INSERT INTO menu (
			ifmnName
			,ifstSeq
			,ifmnPrice
			,ifmnInfo
			,ifmnSet_div
			,ifmnDiscount
			,ifmnDelNy
			,ifmnCreatedAt
		)
		VALUES (
			#{ifmnName}
			,#{ifstSeq}
			,#{ifmnPrice}
			,#{ifmnInfo}
			,#{ifmnSet_div}
			,#{ifmnDiscount}
			,#{ifmnDelNy}
			,now()
		)
		
		<selectKey resultType="String" keyProperty="ifmnSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
	 	UPDATE menu
	 	SET
			ifmnName = #{ifmnName}
			,ifstSeq = #{ifstSeq}
			,ifmnPrice = #{ifmnPrice}
			,ifmnInfo = #{ifmnInfo}
			,ifmnSet_div = #{ifmnSet_div}
			,ifmnDiscount = #{ifmnDiscount}
			,ifmnDelNy = #{ifmnDelNy}
			,ifmnModifiedAt = now()
 			
		WHERE 1=1
			and ifmnSeq = #{ifmnSeq}
 	</update>
 	
 	<update id="uelete">
	 	UPDATE menu
	 	SET
	 		ifmnDelNy = 1
		WHERE 1=1
			and ifmnDelNy = #{ifmnDelNy}
 	</update>
 	
 	<delete id="delete">
 		DELETE FROM 
 			menu 
		WHERE 
			ifmnSeq = #{ifmnSeq}
 	</delete>
	
	<!-- 장바구니용 s -->
	<select id="selectCart" resultMap="resultMapObj">
		SELECT
			m.ifmnSeq
			,m.ifmnName
			,m.ifmnPrice
			,mu.path
			,mu.uuidName
		from menu m
			LEFT join menuUploaded mu on mu.pseq = m.ifmnSeq
		WHERE 1=1
			and m.ifmnSeq = #{ifmnSeq}
	</select>
	<!-- 장바구니용 e -->
</mapper>